# MacOS
.DS_Store

# Windows
Thumbs.db

# IDE/Editor
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.ruff_cache/

# Virtual environment
.venv/

# Environment
.env

# Temporary files
*tmp*
